{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a class="masthead__logo-link" href="{{ base_path }}/" aria-label="{{ site.title }}">
        <img class="masthead__logo" src="{{ site.author.avatar | prepend: '/images/' | relative_url }}" alt="{{ site.title }}">
      </a>
      <nav id="site-nav" class="greedy-nav">
        <button class="hidden"><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <div class="masthead__social social-icons">
        {% if site.author.linkedin %}
          <a href="https://www.linkedin.com/company/{{ site.author.linkedin }}" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.author.github %}
          <a href="https://github.com/{{ site.author.github }}" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
